# macOS System Files
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Logs
*.log
logs/
*.syslog

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# ABL/GBL Binary & Build Assets
*.bin
*.img
*.efi
extracted/

# Track abl images in the ablrepo (checked-in artifacts, not build output)
!ablrepo/**/*.img

# VS Code
.vscode/

# JetBrains 本地项目配置
/.idea/

submodules/uefi/edk2/build_modulepkg.log

submodules/unsigned_abl.elf
